.a{font-size:20px;font-weight:1000;font-variant: small-caps;}
.a a{color:#838383;font-variant: small-caps;}
.rg{text-align:right;padding-right:15px;font-variant: small-caps;}
.lf{text-align:left;padding-left:15px;font-variant: small-caps;}
#f1{color:#838383 !important;font-size:24px;font-variant: small-caps;}